<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <a href="#" id="show_registered_sites">Register list a site <%= currently_registered_to(list) %></a>

  <div id="registered_site_dropdown" class="hidden">
    
    <div class="field">
      <%= form.label :registered_site_id %>
      <%= form.collection_select :registered_site_id, current_user.registered_sites,:id,:site_url %>
    </div>

    <div class="actions">
      <%= form.submit I18n.t('lists.register_with_site') %>
    </div>

  </div>

<% end %>


<script>
 register_sites_toggler()
</script>
