<p id="notice"><%= notice %></p>

<p>
  <strong>List name:</strong>
  <%= @list.title %>
</p>

<% if false %>
<p>
  <%= render 'form_add_to_registered_site', list: @list %>
</p>
<% end %>

<%= render 'items/form', remote: true %>

<div id="items_wrapper" class="row" style="height: 40vh; overflow: auto;">
  <table id="items_table" >
    <thead>
      <th>Item</th>
    </thead>
    <tbody id="items_table_body">
      <%= render @list.items %>
    </tbody>
  </table>
</div>
