<p id="notice"><%= notice %></p>

<p>
  <strong>List name:</strong>
  <%= @list.title %>
</p>

<p>
  <%= render 'form_add_to_registered_site', list: @list %>
</p>

<%= render 'items/form', remote: true %>

<ul id="items_wrapper">  
  <%= render @list.items %>
</ul>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
