<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Simplist20" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Simplist20" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">


    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">


    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
