<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Simplist20" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Simplist20" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="https://milligram.io/styles/main.css">
    <script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
    

    <%= javascript_include_tag 'application' %>

    <style>
    ul {
      list-style: none;
    }

    .drag-handle {
      margin-right: 10px;
      font: bold 20px Sans-Serif;
      color: #9b4dca;
      display: inline-block;
      cursor: move;
      cursor: -webkit-grabbing;  /* overrides 'move' */
    }
    </style>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <main role="main" class="wrapper">
      <%= render 'layouts/navigation' %>
      <div class="container">  
       <%= render 'layouts/messages' %>
       <%= yield %>
      </div>
    </main>
  </body>
</html>
